@using Web.MVC.Constants.Vacancy
@model List<Web.MVC.Models.ApiResponses.Vacancy.VacancyResponse>

<link rel="stylesheet" href="~/css/vacancy/get-all-vacancies.css"/>

<form method="get">
    <input name="query" placeholder="Профессия, должность или компания"/>
    @if (ViewBag.FilterModel is not null)
    {
        if (ViewBag.FilterModel.Position is not null)
        {
            <input type="hidden" name="Position" value="@ViewBag.FilterModel.Position" />
        }
        if (ViewBag.FilterModel.SalaryFrom is not null)
        {
            <input type="hidden" name="SalaryFrom" value="@ViewBag.FilterModel.SalaryFrom" />
        }
        if (ViewBag.FilterModel.WorkExperience is not null)
        {
            <input type="hidden" name="WorkExperience" value="@ViewBag.FilterModel.WorkExperience" />
        }
        if (ViewBag.FilterModel.EmploymentType is not null)
        {
            <input type="hidden" name="EmploymentType" value="@ViewBag.FilterModel.EmploymentType" />
        }
        if (ViewBag.FilterModel.RemoteWork is not null)
        {
            <input type="hidden" name="RemoteWork" value="@ViewBag.FilterModel.RemoteWork" />
        }
        @if (ViewBag.FilterModel.VacancyCities is not null)
        {
            @foreach (string vacancyCity in ViewBag.FilterModel.VacancyCities)
            {
                <input type="hidden" name="VacancyCities" value="@vacancyCity" />
            }
        }
        
    }
    <input type="submit" value="Найти"/>
</form>

@foreach (var vacancy in Model)
{
    <a class="get-vacancy-link" asp-controller="Vacancy" asp-action="GetVacancy" asp-route-vacancyId="@vacancy.Id">
        <div class="vacancy-block">
            <h4>@vacancy.Position</h4>
            <div class="vacancy-info mb-1">
                @if (vacancy.SalaryFrom is not null && vacancy.SalaryTo is not null)
                {
                    @if (vacancy.SalaryTo == vacancy.SalaryFrom)
                    {
                        <p class="salary-p format-number">@vacancy.SalaryFrom ₽ за месяц</p>
                    }
                    else
                    {
                        <p class="salary-p format-number">@vacancy.SalaryFrom - @vacancy.SalaryTo ₽ за месяц</p>
                    }
                }
                @if (vacancy.SalaryFrom is not null && vacancy.SalaryTo is null)
                {
                    <p class="salary-p format-number">от @vacancy.SalaryFrom ₽ за месяц</p>
                }
                @if (vacancy.SalaryFrom is null && vacancy.SalaryTo is not null)
                {
                    <p class="salary-p format-number">до @vacancy.SalaryTo ₽ за месяц</p>
                }
                
                <div class="vacancy-info-internal">
                    @if (vacancy.WorkExperience == WorkExperienceConstants.NoExperience)
                    {
                        <p class="experience-p">Без опыта</p>
                    }
                    @if (vacancy.WorkExperience == WorkExperienceConstants.LessThanOneYear)
                    {
                        <p class="experience-p">Опыт менее года</p>
                    }
                    @if (vacancy.WorkExperience == WorkExperienceConstants.FromOneToThreeYears)
                    {
                        <p class="experience-p">Опыт 1-3 года</p>
                    }
                    @if (vacancy.WorkExperience == WorkExperienceConstants.FromThreeToSixYears)
                    {
                        <p class="experience-p">Опыт 3-6 лет</p>
                    }
                    @if (vacancy.WorkExperience == WorkExperienceConstants.MoreThanSixYears)
                    {
                        <p class="experience-p">Опыт более 6 лет</p>
                    }


                    @if (vacancy.RemoteWork)
                    {
                        <p class="remote-work-p">Можно удаленно</p>
                    }
                </div>
            </div>
            <p>@vacancy.CompanyName</p>
            <p>@vacancy.VacancyCity</p>
        </div>
    </a>
}

<div>
    @if (Model.Count > 0)
    {
        @if (ViewBag.CurrentPageNumber - 1 > 0)
        {
            if (ViewBag.SearchingQuery is null)
            {
                <a class="" asp-controller="Vacancy" asp-action="GetAllVacancies" asp-route-index="@(ViewBag.CurrentPageNumber - 1)">
                    Назад
                </a>
            }
            else
            {
                <a class="" asp-controller="Vacancy" asp-action="GetAllVacancies" asp-route-index="@(ViewBag.CurrentPageNumber - 1)"
                   asp-route-query="@ViewBag.SearchingQuery">
                    Назад
                </a>
            }
        }
        else
        {
            <a class="">Назад</a>
        }

        @if (ViewBag.DoesNextPageExist)
        {
            if (ViewBag.SearchingQuery is null)
            {
                <a class="" asp-controller="Vacancy" asp-action="GetAllVacancies" asp-route-index="@(ViewBag.CurrentPageNumber + 1)">
                    Вперед
                </a>
            }
            else
            {
                <a class="" asp-controller="Vacancy" asp-action="GetAllVacancies" asp-route-index="@(ViewBag.CurrentPageNumber + 1)"
                   asp-route-query="@ViewBag.SearchingQuery">
                    Вперед
                </a>
            }
        }
        else
        {
            <a class="">Вперед</a>
        }
    }
</div>
<script src="~/js/vacancy/format-number-displaying-in-p.js"></script>