@model List<Web.MVC.Models.ApiResponses.Company.JoiningRequestedEmployerResponse>

@if (true)
{
    string returnUrl = Context.Request.Path;
    if (Context.Request.QueryString.HasValue)
        returnUrl += Context.Request.QueryString;
    @foreach (var request in Model)
    {
        <div>
            <p>@request.EmployerName @request.EmployerSurname</p>
            <p>Время запроса: @request.JoiningRequestDate</p>
            <form asp-controller="Company" asp-action="AcceptEmployerToJoinCompany" asp-route-returnUrl="@returnUrl">
                <input name="requestId" value="@request.Id" type="hidden" />
                <input type="submit" value="Принять"/>
            </form>
            <form asp-controller="Company" asp-action="RejectEmployerToJoinCompany" asp-route-returnUrl="@returnUrl">
                <input name="requestId" value="@request.Id" type="hidden" />
                <input type="submit" value="Отклонить" />
            </form>
        </div>
    }
}

<div>
    @if (Model.Count > 0)
    {
        @if (ViewBag.CurrentPageNumber - 1 > 0)
        {
            <a class="" asp-controller="Company" asp-action="GetEmployersRequestedJoiningMyCompany"asp-route-index="@(ViewBag.CurrentPageNumber - 1)">
                Назад
            </a>
        }
        else
        {
            <a class="">Назад</a>
        }

        @if (ViewBag.DoesNextPageExist)
        {
            <a class="" asp-controller="Company" asp-action="GetEmployersRequestedJoiningMyCompany" asp-route-index="@(ViewBag.CurrentPageNumber + 1)">
                Вперед
            </a>
        }
        else
        {
            <a class="">Вперед</a>
        }
    }
</div>