@model Web.MVC.Models.ApiResponses.Company.CompanyResponse?

@if (Model is null)
{
    <form method="get">
        <input name="companyQuery" placeholder="Найти компанию"/>
        <input type="submit" value="Найти"/>
    </form>
    <a asp-controller="Company" asp-action="AddMyCompany">Добавить</a>
    if (Context.Request.QueryString.Value.Contains("companyQuery"))
    {
        if (ViewBag.FoundCompany is not null)
        {
            <p><strong>@ViewBag.FoundCompany.CompanyName</strong></p>
            <p>Описание: @ViewBag.FoundCompany.CompanyDescription</p>
            <p>Количество сотрудников: @ViewBag.FoundCompany.CompanyColleaguesCount</p>
            <a>Вступить</a> //запросить вступление в компанию
        }
        else
        {
            <p>Такой компании не существует</p>
        }
    }
}
else
{
    <p>@Model.CompanyName</p>
    <p>@Model.CompanyColleaguesCount сотрудников</p>
    <a asp-controller="Company">Обновить</a> //ссылка на обновление данных о компании
}