@model Web.MVC.Models.ApiResponses.Company.CompanyResponse?

@if (Model is null)
{
    <form method="get">
        <input name="companyQuery" placeholder="Найти компанию"/>
        <input type="submit" value="Найти"/>
    </form>
    <a asp-controller="Company" asp-action="AddMyCompany">Добавить</a>
    if (Context.Request.QueryString.Value.Contains("companyQuery"))
    {
        if (ViewBag.FoundCompany is not null)
        {
            string returnUrl = Context.Request.Path;
            if (Context.Request.QueryString.HasValue)
                returnUrl += Context.Request.QueryString;

            <p><strong>@ViewBag.FoundCompany.CompanyName</strong></p>
            <p>Описание: @ViewBag.FoundCompany.CompanyDescription</p>
            <p>Количество сотрудников: @ViewBag.FoundCompany.CompanyColleaguesCount</p>
            <form method="post" asp-controller="Company" asp-action="RequestJoiningCompany">

            </form>
            <form method="post" asp-controller="Company" asp-action="RequestJoiningCompany" asp-route-returnUrl="@returnUrl">
                <input type="hidden" name="companyId"  value="@ViewBag.FoundCompany.Id"/>
                <input type="submit" value="Запросить вступление"/>
            </form>
        }
        else
        {
            <p>Такой компании не существует</p>
        }
    }
}
else
{
    <p>@Model.CompanyName</p>
    <p>@Model.CompanyColleaguesCount сотрудников</p>
    <a asp-controller="Company">Обновить</a> //ссылка на обновление данных о компании
}