@model System.Collections.Generic.List<Web.MVC.Models.ApiResponses.Employer.EmployerResponse>

@if (true)
{
    string returnUrl = Context.Request.Path;
    if (Context.Request.QueryString.HasValue)
        returnUrl += Context.Request.QueryString;
    @foreach (var employer in Model)
    {
        <p>@employer.Name @employer.Surname</p>
        <p>Должность: @employer.CompanyPost</p>
        <p>Почта: @employer.Email</p>
        if (employer.Email != User.Identity.Name)
        {
            <form method="post" asp-controller="Company" asp-action="RemoveEmployerFromCompany" asp-route-returnUrl="@returnUrl"
                  asp-route-companyId="@employer.CompanyId" asp-route-employerId="@employer.Id">
                <input type="submit" value="Исключить"/>
            </form>
        }
    }
}

<div>
    @if (Model.Count > 0)
    {
        @if (ViewBag.CurrentPageNumber - 1 > 0)
        {
            <a class="" asp-controller="Company" asp-action="GetMyCompanyColleagues" asp-route-index="@(ViewBag.CurrentPageNumber - 1)">
                Назад
            </a>
        }
        else
        {
            <a class="">Назад</a>
        }

        @if (ViewBag.DoesNextPageExist)
        {
            <a class="" asp-controller="Company" asp-action="GetMyCompanyColleagues" asp-route-index="@(ViewBag.CurrentPageNumber + 1)">
                Вперед
            </a>
        }
        else
        {
            <a class="">Вперед</a>
        }
    }
</div>