@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Web.MVC.Constants.Vacancy
@model List<Web.MVC.Models.ApiResponses.Vacancy.VacancyResponse>

<link rel="stylesheet" href="~/css/company/get-my-company-vacancies.css"/>

<form method="get">
    <input name="query" placeholder="Поиск по вакансиям"/>
    <input type="submit" value="Найти"/>
</form>

@foreach (var vacancy in Model)
{
    <a class="get-vacancy-link" asp-controller="Vacancy" asp-action="GetVacancy" asp-route-vacancyId="@vacancy.Id">
        <div class="vacancy-block">
            <h4>@vacancy.Position</h4>
            <div class="vacancy-info mb-1">
                @if (vacancy.SalaryFrom is not null && vacancy.SalaryTo is not null)
                {
                    @if (vacancy.SalaryTo == vacancy.SalaryFrom)
                    {
                        <p class="salary-p format-number">@vacancy.SalaryFrom ₽ за месяц</p>
                    }
                    else
                    {
                        <p class="salary-p format-number">@vacancy.SalaryFrom - @vacancy.SalaryTo ₽ за месяц</p>
                    }
                }
                @if (vacancy.SalaryFrom is not null && vacancy.SalaryTo is null)
                {
                    <p class="salary-p format-number">от @vacancy.SalaryFrom ₽ за месяц</p>
                }
                @if (vacancy.SalaryFrom is null && vacancy.SalaryTo is not null)
                {
                    <p class="salary-p format-number">до @vacancy.SalaryTo ₽ за месяц</p>
                }

                <div class="vacancy-info-internal">
                    @if (vacancy.WorkExperience == WorkExperienceConstants.NoExperience)
                    {
                        <p class="experience-p">Без опыта</p>
                    }
                    @if (vacancy.WorkExperience == WorkExperienceConstants.LessThanOneYear)
                    {
                        <p class="experience-p">Опыт менее года</p>
                    }
                    @if (vacancy.WorkExperience == WorkExperienceConstants.FromOneToThreeYears)
                    {
                        <p class="experience-p">Опыт 1-3 года</p>
                    }
                    @if (vacancy.WorkExperience == WorkExperienceConstants.FromThreeToSixYears)
                    {
                        <p class="experience-p">Опыт 3-6 лет</p>
                    }
                    @if (vacancy.WorkExperience == WorkExperienceConstants.MoreThanSixYears)
                    {
                        <p class="experience-p">Опыт более 6 лет</p>
                    }


                    @if (vacancy.RemoteWork)
                    {
                        <p class="remote-work-p">Можно удаленно</p>
                    }
                </div>
            </div>
            <p>@vacancy.CompanyName</p>
            <p>@vacancy.VacancyCity</p>
        </div>
    </a>
}

<div class="pagination-link-container">
    @if (Model.Count > 0)
    {
        @if (ViewBag.CurrentPageNumber - 1 > 0)
        {
            if (ViewBag.SearchingQuery is null)
            {
                <a class="previous-button" asp-controller="Company" asp-action="GetMyCompanyVacancies" asp-route-index="@(ViewBag.CurrentPageNumber - 1)">
                    Назад
                </a>
            }
            else
            {
                <a class="previous-button" asp-controller="Company" asp-action="GetMyCompanyVacancies" asp-route-index="@(ViewBag.CurrentPageNumber - 1)"
                   asp-route-query="@ViewBag.SearchingQuery">
                    Назад
                </a>
            }
        }
        else
        {
            <a class="previous-doesnt-exist-button">Назад</a>
        }

        @if (ViewBag.DoesNextPageExist)
        {
            if (ViewBag.SearchingQuery is null)
            {
                <a class="next-button" asp-controller="Company" asp-action="GetMyCompanyVacancies" asp-route-index="@(ViewBag.CurrentPageNumber + 1)">
                    Вперед
                </a>
            }
            else
            {
                <a class="next-button" asp-controller="Company" asp-action="GetMyCompanyVacancies" asp-route-index="@(ViewBag.CurrentPageNumber + 1)"
                   asp-route-query="@ViewBag.SearchingQuery">
                    Вперед
                </a>
            }
        }
        else
        {
            <a class="next-doesnt-exist-button">Вперед</a>
        }
    }
</div>

<script src="~/js/vacancy/format-number-displaying-in-p.js"></script>