@model Web.MVC.Models.ApiResponses.Company.CompanyResponse?

@if (true)
{
    string returnUrl = Context.Request.Path;
    if (Context.Request.QueryString.HasValue)
        returnUrl += Context.Request.QueryString;
    <div>
        <a asp-controller="Company" asp-action="GetMyCompanyColleagues">Коллеги</a>
        <a asp-controller="Company" asp-action="GetEmployersRequestedJoiningMyCompany">Запросы на присоединение</a>
        <a asp-controller="Company" asp-action="GetMyCompanyVacancies">Вакансии компании</a>
        <a asp-controller="Company" asp-action="GetCompanyVacancyResponses" asp-route-timeSort="Descending">Отклики</a>
        <a asp-controller="Company" asp-action="GetCompanyInterviewInvitations">Приглашения</a>
        <form method="post" asp-controller="Company" asp-action="LeaveFromCompany" asp-route-returnUrl="@returnUrl">
            <input type="submit" value="Выйти из компании" />
        </form>
        <form method="post" asp-controller="Company" asp-action="DeleteMyCompany">
            <input type="submit" value="Удалить компанию" onclick="return confirm('Вы действительно хотите удалить компанию?');" />
        </form>
    </div>

    @if (Model is null)
    {
        <form method="get">
            <input name="companyQuery" placeholder="Найти компанию" />
            <input type="submit" value="Найти" />
        </form>
        <a asp-controller="Company" asp-action="AddMyCompany">Добавить</a>
        if (Context.Request.QueryString.Value.Contains("companyQuery"))
        {
            if (ViewBag.FoundCompany is not null)
            {
                <p><strong>@ViewBag.FoundCompany.CompanyName</strong></p>
                <p>Описание: @ViewBag.FoundCompany.CompanyDescription</p>
                <p>Количество сотрудников: @ViewBag.FoundCompany.CompanyColleaguesCount сотрудников</p>
                if (ViewBag.EmployerAlreadyRequestedJoining)
                {
                    <button>&#10003; Запрос отправлен</button>
                }
                else
                {
                    <form method="post" asp-controller="Company" asp-action="RequestJoiningCompany" asp-route-returnUrl="@returnUrl">
                        <input type="hidden" name="companyId" value="@ViewBag.FoundCompany.Id" />
                        <input type="submit" value="Запросить вступление" />
                    </form>
                }
            }
            else
            {
                <p>Такой компании не существует</p>
            }
        }
    }
    else
    {
        <p>@Model.CompanyName</p>
        <p>@Model.CompanyColleaguesCount сотрудников</p>
        if (Model.CompanyDescription is not null)
        {
            <p>Описание: @Model.CompanyDescription</p>
        }
        else
        {
            <p>Описание отсутствует</p>
        }
        <a asp-controller="Company" asp-action="UpdateMyCompany">Обновить</a>
    }
}