@using Web.MVC.Constants.Permissions_constants
@model Web.MVC.DTOs.Company.UpdateEmployerCompanyPermissionsDto
<link rel="stylesheet" href="~/css/data-updated-modal.css"/>
<link rel="stylesheet" href="~/css/company/update-employer-company-permissions.css"/>

@if (ViewBag.IsUpdated == true)
{
    <input id="isUpdated" type="hidden" value="true" />
}

<div id="modal" class="modal">
    <span class="close-modal" id="close-modal">&times;</span>
    <p class="updated-p">&#9989; Данные успешно обновлены</p>
</div>

<h3>@ViewBag.EmployerName @ViewBag.EmployerSurname</h3>
@if (ViewBag.EmployerCompanyPost is not null)
{
    <h4>Почта: @ViewBag.EmployerEmail</h4>
    <h4 class="mb-3">Должность: @ViewBag.EmployerCompanyPost</h4>
}
else
{
    <h4 class="mb-3">Почта: @ViewBag.EmployerEmail</h4>
}

<form method="post">
    <input type="hidden" asp-for="EmployerId" value="@Model.EmployerId"/>
    <h4>Коллеги</h4>
    <div class="permissions-block">
        @if (Model.Permissions.Contains(ColleaguesPermissionsConstants.ViewTheListOfColleaguesPermission))
        {
            <p>
                <input type="checkbox" name="Permissions" value="@ColleaguesPermissionsConstants.ViewTheListOfColleaguesPermission" checked />
                @ColleaguesPermissionsConstants.ViewTheListOfColleaguesPermission
            </p>
        }
        else
        {
            <p>
                <input type="checkbox" name="Permissions" value="@ColleaguesPermissionsConstants.ViewTheListOfColleaguesPermission" />
                @ColleaguesPermissionsConstants.ViewTheListOfColleaguesPermission
            </p>
        }
        @if (Model.Permissions.Contains(ColleaguesPermissionsConstants.ViewColleaguesPermissionsPermission))
        {
            <p>
                <input type="checkbox" name="Permissions" value="@ColleaguesPermissionsConstants.ViewColleaguesPermissionsPermission" checked />
                @ColleaguesPermissionsConstants.ViewColleaguesPermissionsPermission
            </p>
        }
        else
        {
            <p>
                <input type="checkbox" name="Permissions" value="@ColleaguesPermissionsConstants.ViewColleaguesPermissionsPermission" />
                @ColleaguesPermissionsConstants.ViewColleaguesPermissionsPermission
            </p>
        }
        @if (Model.Permissions.Contains(ColleaguesPermissionsConstants.GivePermissionsToColleaguesPermission))
        {
            <p>
                <input type="checkbox" name="Permissions" value="@ColleaguesPermissionsConstants.GivePermissionsToColleaguesPermission" checked />
                @ColleaguesPermissionsConstants.GivePermissionsToColleaguesPermission
            </p>
        }
        else
        {
            <p>
                <input type="checkbox" name="Permissions" value="@ColleaguesPermissionsConstants.GivePermissionsToColleaguesPermission" />
                @ColleaguesPermissionsConstants.GivePermissionsToColleaguesPermission
            </p>
        }
        @if (Model.Permissions.Contains(ColleaguesPermissionsConstants.RemoveColleaguesPermission))
        {
            <p>
                <input type="checkbox" name="Permissions" value="@ColleaguesPermissionsConstants.RemoveColleaguesPermission" checked />
                @ColleaguesPermissionsConstants.RemoveColleaguesPermission
            </p>
        }
        else
        {
            <p>
                <input type="checkbox" name="Permissions" value="@ColleaguesPermissionsConstants.RemoveColleaguesPermission" />
                @ColleaguesPermissionsConstants.RemoveColleaguesPermission
            </p>
        }
    </div>
    <h4>Компания</h4>
    <div class="permissions-block">
        @if (Model.Permissions.Contains(CompanyPermissionsConstants.UpdateCompanyInformationDataPermission))
        {
            <p>
                <input type="checkbox" name="Permissions" value="@CompanyPermissionsConstants.UpdateCompanyInformationDataPermission" checked />
                @CompanyPermissionsConstants.UpdateCompanyInformationDataPermission
            </p>
        }
        else
        {
            <p>
                <input type="checkbox" name="Permissions" value="@CompanyPermissionsConstants.UpdateCompanyInformationDataPermission" />
                @CompanyPermissionsConstants.UpdateCompanyInformationDataPermission
            </p>
        }
        @if (Model.Permissions.Contains(CompanyPermissionsConstants.DeleteCompanyPermission))
        {
            <p>
                <input type="checkbox" name="Permissions" value="@CompanyPermissionsConstants.DeleteCompanyPermission" checked />
                @CompanyPermissionsConstants.DeleteCompanyPermission
            </p>
        }
        else
        {
            <p>
                <input type="checkbox" name="Permissions" value="@CompanyPermissionsConstants.DeleteCompanyPermission" />
                @CompanyPermissionsConstants.DeleteCompanyPermission
            </p>
        }
        @if (Model.Permissions.Contains(CompanyPermissionsConstants.ViewListOfEmployersRequestedJoiningPermission))
        {
            <p>
                <input type="checkbox" name="Permissions" value="@CompanyPermissionsConstants.ViewListOfEmployersRequestedJoiningPermission" checked />
                @CompanyPermissionsConstants.ViewListOfEmployersRequestedJoiningPermission
            </p>
        }
        else
        {
            <p>
                <input type="checkbox" name="Permissions" value="@CompanyPermissionsConstants.ViewListOfEmployersRequestedJoiningPermission" />
                @CompanyPermissionsConstants.ViewListOfEmployersRequestedJoiningPermission
            </p>
        }
        @if (Model.Permissions.Contains(CompanyPermissionsConstants.AcceptRejectEmployersRequestedJoiningPermission))
        {
            <p>
                <input type="checkbox" name="Permissions" value="@CompanyPermissionsConstants.AcceptRejectEmployersRequestedJoiningPermission" checked />
                @CompanyPermissionsConstants.AcceptRejectEmployersRequestedJoiningPermission
            </p>
        }
        else
        {
            <p>
                <input type="checkbox" name="Permissions" value="@CompanyPermissionsConstants.AcceptRejectEmployersRequestedJoiningPermission" />
                @CompanyPermissionsConstants.AcceptRejectEmployersRequestedJoiningPermission
            </p>
        }
    </div>
    <h4>Вакансии</h4>
    <div class="permissions-block">
        @if (Model.Permissions.Contains(VacancyPermissionsConstants.AddVacancyPermission))
        {
            <p>
                <input type="checkbox" name="Permissions" value="@VacancyPermissionsConstants.AddVacancyPermission" checked />
                @VacancyPermissionsConstants.AddVacancyPermission
            </p>
        }
        else
        {
            <p>
                <input type="checkbox" name="Permissions" value="@VacancyPermissionsConstants.AddVacancyPermission" />
                @VacancyPermissionsConstants.AddVacancyPermission
            </p>
        }
        @if (Model.Permissions.Contains(VacancyPermissionsConstants.EditVacancyPermission))
        {
            <p>
                <input type="checkbox" name="Permissions" value="@VacancyPermissionsConstants.EditVacancyPermission" checked />
                @VacancyPermissionsConstants.EditVacancyPermission
            </p>
        }
        else
        {
            <p>
                <input type="checkbox" name="Permissions" value="@VacancyPermissionsConstants.EditVacancyPermission" />
                @VacancyPermissionsConstants.EditVacancyPermission
            </p>
        }
        @if (Model.Permissions.Contains(VacancyPermissionsConstants.DeleteVacancyPermission))
        {
            <p>
                <input type="checkbox" name="Permissions" value="@VacancyPermissionsConstants.DeleteVacancyPermission" checked />
                @VacancyPermissionsConstants.DeleteVacancyPermission
            </p>
        }
        else
        {
            <p>
                <input type="checkbox" name="Permissions" value="@VacancyPermissionsConstants.DeleteVacancyPermission" />
                @VacancyPermissionsConstants.DeleteVacancyPermission
            </p>
        }
        @if (Model.Permissions.Contains(VacancyPermissionsConstants.ArchiveUnarchiveVacancyPermission))
        {
            <p>
                <input type="checkbox" name="Permissions" value="@VacancyPermissionsConstants.ArchiveUnarchiveVacancyPermission" checked />
                @VacancyPermissionsConstants.ArchiveUnarchiveVacancyPermission
            </p>
        }
        else
        {
            <p>
                <input type="checkbox" name="Permissions" value="@VacancyPermissionsConstants.ArchiveUnarchiveVacancyPermission" />
                @VacancyPermissionsConstants.ArchiveUnarchiveVacancyPermission
            </p>
        }
    </div>

    <input type="submit" value="Сохранить"/>
</form>
<script src="~/js/data-successfully-updated.js"></script>